#navbar {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 10px;
}

#welcome-section {
    height: 100vh;
    margin-top: 40vh;
    text-align: center;
}

#navbar a {
    text-decoration: none;
    color: black;
}

@media(min-width: 500px) {
    #navbar {
        left: auto;
        right: 0;
        margin-right: 20px;
    }
}